
# Moa
Mohammad Kazem Khajeh <kazem_kh95@hotmail.com> Mohammad Kazem Khajeh <kazem_kh95@hotmail.com>
Mohammad Kazem Khajeh <kazem_kh95@hotmail.com> Mohammad Kazem Khajeh <142320965+MoaKK@users.noreply.github.com>

Marius Brun <mariuabr@stud.ntnu.no> Marius Brun <mariuabr@stud.ntnu.no>
Marius Brun <mariuabr@stud.ntnu.no> Marius Aleksander Brun <106870757+mariusAB@users.noreply.github.com>

Marius Fornes <mariufor@stud.ntnu.no> Marius Fornes <mariufor@stud.ntnu.no>
Marius Fornes <mariufor@stud.ntnu.no> mariusfornes <marius.fornes@gmail.com>

Cryonato <barisduck@gmail.com> Cryonato <barisduck@gmail.com>

Markus Helgø Wathle <145480355+markuswathle@users.noreply.github.com> Markus Helgø Wathle <145480355+markuswathle@users.noreply.github.com>

# Ingvild
Ingvild Kirkaune Sandven <ingviksa@stud.ntnu.no> Ingvild Kirkaune Sandven <ingviksa@stud.ntnu.no>
Ingvild Kirkaune Sandven <ingviksa@stud.ntnu.no> Ingvild Sandven <ingviksa@stud.ntnu.no>
Ingvild Kirkaune Sandven <ingviksa@stud.ntnu.no> Ingvild Sandven <70192385+bookdragonish@users.noreply.github.com>